$brown: rgb(178, 149, 116);

.pay-bill {
  .title {
    display: flex;
    position: relative;
    align-items: center;
    height: 180rpx;
    background-color: $brown;
    .capsule {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 16rpx;
      top: 48rpx;
      width: 232rpx;
      height: 56rpx;
      border-radius: 56rpx;
      background-color: #fff;
      color: rgb(118, 92, 61);
      font-size: 28rpx;
    }
  }
}