
@import '../../public/styles/index.scss';

.input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 176rpx;
  background-color: #fff;
  color: $color-f3;
  padding-left: 40rpx;
  .input-wrapper {
    position: relative;
    border-bottom: 1rpx solid $color-f4;
    box-sizing: border-box;
    padding-right: 120rpx;
    height: 100%;
    .input-item-label {
      position: absolute;
      top: 22rpx;
      left: 0;
      font-size: 28rpx;
      width: 100%;
      height: 56rpx;
      color: $color-f3;
    }
    .input {
      width: 100%;
      height: 100rpx;
      margin-top: 46rpx;
      margin-bottom: 14rpx;
      font-size: 40rpx;
      color: $color-f1;
    }
  }
}