@import '../../public/styles/index.scss';

.navigation-bar-wrapper {
  .navigation-bar{
    position: relative;
    left: 0;
    top: 0;
    width: 750rpx;
    color: #fff;
    z-index: 100;
    text-align: center;
    transition: transform .3s;
    font-size: 40rpx;
    color: $color-f1;
    background-color: #fff;

    .title {
      font-weight: bold;
    }

    .back{
      position: absolute;
      left: 0;
      top: 0;
      min-width: 70rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-back{
        display: flex;
        justify-content: center;
        align-items: center;
        image {
          width: 40rpx;
          height: 40rpx;
          padding-left: 34rpx;
        }
      }

      .back-home{
        width: auto;
        text-align: center;
        font-size: 30rpx;
      }
    } 
  }

  .navigation-bar-holder{
    background: transparent;
    position: relative;
    z-index: 2;
  }
}
